<!DOCTYPE html>
<html lang="en">
    <!--Head-->    
    <%- include('../partials/head') %>
<body>
    <header class="l-header" id="header">
        <!--NavBar-->
        <%- include('../partials/navBar') %>
    </header>

    <main class="l-main">
        <section class="home" id="home">
            <div class="home__container bd-grid">
                <div class="home__sneaker">
                    <div class="home__shape"></div>
                    <img src="/img/aceite1500.png" alt="" class="home__img">

                </div> 

                <div class="home__data">
                    <span class="home__new">Nuevo</span>
                    <h1 class="home__title">ACEITE DE GIRASOL <br> NATURA 900CC</h1>
                    <p class="home__description">Busca más productos de Natura</p>
                    <a href="/search-result?description=natura" class="button">Buscar Ahora</a>
                </div>
            </div>    
        </section>

        <section class="featured section" id="featured">
            <h2 class="section-title">OFERTAS</h2>

            <div class="featured__container bd-grid">
                <article class="sneaker">
                    <div class="sneaker__sale">Oferta</div>
                    <img src="/img/aceite1500.png" alt="" class="sneaker__img">
                    <span class="sneaker__brand">Natura</span>
                    <span class="sneaker__name">Aceite girasol 1,5L</span>
                    <span class="sneaker__preci">$200.00</span>
                    <a href="/productDetail" class="button-light">Comprar <i class='bx bx-right-arrow-alt button-icon'></i></a>
                </article>

                <article class="sneaker">
                    <div class="sneaker__sale">Oferta</div>
                    <img src="/img/mayo250.png" alt="" class="sneaker__img">
                    <span class="sneaker__brand">Natura</span>
                    <span class="sneaker__name">Mayonesa 500G</span>
                    <span class="sneaker__preci">$149.99</span>
                    <a href="/productDetail" class="button-light">Comprar <i class='bx bx-right-arrow-alt button-icon'></i></a>
                </article>

                <article class="sneaker">
                    <div class="sneaker__sale">Oferta</div>
                    <img src="/img/rocio_clasico.png" alt="" class="sneaker__img">
                    <span class="sneaker__brand">Natura</span>
                    <span class="sneaker__name">Rocío vegetal 360G.</span>
                    <span class="sneaker__preci">$299.20</span>
                    <a href="/productDetail" class="button-light">Comprar <i class='bx bx-right-arrow-alt button-icon'></i></a>
                </article>
            </div>
        </section>

        <section class="collection section">
            <div class="collection__container bd-grid">
                <div class="collection__card">
                    <div class="collection__data">
                        <h3 class="collection__name">Natura</h3>
                        <p class="collection__description">Todos los productos</p>
                        <a href="#" class="button-light">Comprar Ahora <i class='bx bx-right-arrow-alt button-icon'></i></a>
                    </div>

                    <img src="/img/todo_natura.png" alt="" class="collection__img">
                </div>

                <div class="collection__container bd-grid">
                    <div class="collection__card">
                        <div class="collection__data">
                            <h3 class="collection__name">La Sere- <br> nisima</h3>
                            <p class="collection__description">Todas las leches</p>
                            <a href="#" class="button-light">Comprar Ahora <i class='bx bx-right-arrow-alt button-icon'></i></a>
                        </div>
    
                        <img src="/img/la_serenisima/serenisima_leches.png" alt="" class="collection__img">
                    </div>
                </div>                  
            </div>
        </section>

        <section class="women section" id="women">
            <h2 class="section-title">La Serenisima</h2>
            
            <div class="women__container bd-grid">
                <article class="sneaker">
                    <img src="/img/aceite1500.png" alt="" class="sneaker__img">
                    <span class="sneaker__brand">Natura</span>
                    <span class="sneaker__name">Aceite girasol 1,5L</span>
                    <span class="sneaker__preci">$200.00</span>
                    <a href="/productDetail" class="button-light">Comprar <i class='bx bx-right-arrow-alt button-icon'></i></a>
                </article>

                <article class="sneaker">
                    <img src="/img/aceite1500.png" alt="" class="sneaker__img">
                    <span class="sneaker__brand">Natura</span>
                    <span class="sneaker__name">Aceite girasol 1,5L</span>
                    <span class="sneaker__preci">$200.00</span>
                    <a href="/productDetail" class="button-light">Comprar <i class='bx bx-right-arrow-alt button-icon'></i></a>
                </article>

                <article class="sneaker">
                    <img src="/img/aceite1500.png" alt="" class="sneaker__img">
                    <span class="sneaker__brand">Natura</span>
                    <span class="sneaker__name">Aceite girasol 1,5L</span>
                    <span class="sneaker__preci">$200.00</span>
                    <a href="/productDetail" class="button-light">Comprar <i class='bx bx-right-arrow-alt button-icon'></i></a>
                </article>

                <article class="sneaker">
                    <img src="/img/aceite1500.png" alt="" class="sneaker__img">
                    <span class="sneaker__brand">Natura</span>
                    <span class="sneaker__name">Aceite girasol 1,5L</span>
                    <span class="sneaker__preci">$200.00</span>
                    <a href="/productDetail" class="button-light">Comprar <i class='bx bx-right-arrow-alt button-icon'></i></a>
                </article>
            </div>
        </section>

        <section class="offer section">
            <div class="offer__container bd-grid">
                <div class="offer__data">
                    <h3 class="offer__title">25% Desc.</h3>
                    <p class="offer__description">Yogurt Ser</p>
                    <a href="#" class="button">Comprar</a>
                </div>

                <img src="/img/aceite1500.png" alt="" class="offer__img">
            </div>
        </section>

        <section class="new section" id="new">
            <h2 class="section-title">Destacados</h2>

            <div class="new__container bd-grid">
                <div class="new__mens">
                    <img src="/img/la_serenisima/serenisima_todo.jpg" alt="" class="new__mens-img">
                    <h3 class="new__title">Quesos</h3>
                    <span class="new__preci">Desde $120.99</span>
                    <a href="#" class="button-light">Ver Quesos <i class='bx bx-right-arrow-alt button-icon'></i></a>
                </div>

                <div class="new__sneaker">
                    <div class="new__sneaker-card">
                        <img src="/img/logo.png" alt="" class="new__sneaker-img">
                        <div class="new__sneaker-overlay">
                            <a href="#" class="button">Agregar</a>
                        </div>
                    </div>
                    
                    <div class="new__sneaker-card">
                        <img src="/img/logo.png" alt="" class="new__sneaker-img">
                        <div class="new__sneaker-overlay">
                            <a href="#" class="button">Agregar</a>
                        </div>
                    </div>
                    
                    <div class="new__sneaker-card">
                        <img src="/img/logo.png" alt="" class="new__sneaker-img">
                        <div class="new__sneaker-overlay">
                            <a href="#" class="button">Agregar</a>
                        </div>
                    </div>
                
                    <div class="new__sneaker-card">
                        <img src="/img/logo.png" alt="" class="new__sneaker-img">
                        <div class="new__sneaker-overlay">
                            <a href="#" class="button">Agregar</a>
                        </div>
                    </div>
                    
                    <div class="new__sneaker-card">
                        <img src="/img/logo.png" alt="" class="new__sneaker-img">
                        <div class="new__sneaker-overlay">
                            <a href="#" class="button">Agregar</a>
                        </div>
                    </div>
                </div>
            </div>    
        </section>

        <section class="newsletter section">
            <div class="newsletter__container bd-grid">
                <div>
                    <h3 class="newsletter__title">Con tu mail <br> 15% OFF</h3>
                    <p class="newsletter__description">Descuento 15% por primera compra</p>
                </div>
                
                <form action="" class="newsletter__subscribe">
                    <input type="text" placeholder="@email.com" class="newsletter__input">
                    <a href="#" class="button">Descuento!</a>
                </form>
            </div>
        </section>

        <!--Footer-->
        <%- include('../partials/footer') %>
    </main>
    

    <script src="/js/main.js"></script>
</body>
</html>