<!DOCTsYPE html>
<html lang="en">
<!--Head-->    
<%- include('../partials/headDetail') %>
<body>
    <main class="main bd-grid">
        <article class="card">
            <table>
                <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Subtotal</th>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </article>
        <!--Footer-->
        <%- include('../partials/footer') %>
    </main>

    
    

    <script src="assets/js/main.js"></script>
</body>
</html>