<nav class="nav bd-grid">
    <div class="nav__toggle" id="nav-toggle">
        <i class='bx bxs-grid'></i>
    </div>
    
    <a href="/" class="nav__logo">Comida</a>

    <div class="nav__menu" id="nav-menu">
        <ul class="nav__list">
            <li class="nav__item"><a href="/" class="nav__link active">Home</a></li>
            <li class="nav__item"><a href="#featured" class="nav__link">Ofertas</a></li>
            <li class="nav__item"><a href="/nosotros" class="nav__link">Nosotros</a></li>
            <li class="nav__item"><a href="/login" class="nav__link">Ingresar</a></li>
            <li class="nav__item"><a href="/shop" class="nav__link">Shop</a></li>
        </ul>
    </div>
    <form action="/search-result" method="GET">
        <div class="search-wrapper">
            <button type="submit" style="text-decoration: none; border: none; background: none;"><span><i class='bx bx-search'></i></span></button>
            <input type="text" name="description" placeholder="Buscar" value="">
        </div>
    </form>

    <div class="nav__shop">
        <a href="/shop" class="nav__link"><i class='bx bx-shopping-bag' ></i></a>
    </div>

</nav>