<!DOCTYPE html>
<html lang="en">
    <!--Head-->    
    <%- include('../partials/head') %>
<body>
    <main class="l-main">
        <div class="login-r">
            <div class="login__content">
                <!--
                <div class="login__img">
                    <img src="/img/login.png" alt="">
                </div>    
                -->
                <!--Login-->
                <div class="login__forms">
                    <!-- Registro-->
                    <form action="/register" class="login__registre" id="login-up" method="POST" enctype="multipart/form-data">
                        <h1 class="login__title">CREAR CUENTA</h1>

                        <div class="login__box">
                            <label for="firstName"><i class='bx bx-user login__icon'></i></label>
                            <input type="text"  name="firstName" id="firstName" placeholder="Nombre" class="login__input" required>
                        </div>

                        <div class="login__box">
                            <label for="lastName"><i class='bx bx-user login__icon'></i></label>
                            <input type="text"  name="lastName" id="lastName" placeholder="Apellido" class="login__input" required>
                        </div>

                        <div class="login__box">
                            <label for="email"><i class='bx bx-at login__icon'></i></label>
                            <input type="email" name="email" id="email" placeholder="Email" class="login__input" required>
                        </div>

                        <div class="login__box">
                            <label for="cuitCuil"><i class='bx bx-id-card login__icon' ></i></label>
                            <input type="number" name="cuitCuil" id="cuitCuil" placeholder="CUIT/CUIL(sin guiónes)" class="login__input" required>
                        </div>

                        <div class="login__box">
                            <label for="adress"><i class='bx bx-home login__icon' ></i></label>
                            <input type="text" name="adress" id="adress" placeholder="Dirección" class="login__input" required>
                        </div>

                        <div class="login__box">
                            <label for="telephone"><i class='bx bx-phone login__icon'></i></label>
                            <input type="tel" name="telephone" id="telephone" placeholder="Teléfono" class="login__input" required>
                        </div>

                        <div class="login__box">
                            <label for="password"><i class='bx bx-lock login__icon'></i></label>
                            <input type="password" name="password" id="password" placeholder="Contraseña" class="login__input" required>
                        </div>

                        <div class="login__box">
                            <label for="image"><i class='bx bx-photo login__icon'></i></label>
                            <input type="file" name="image" id="image">
                        </div>

                        <button type="submit" class="login__button">Crear</button>

                        <div>
                            <span class="login__account">Ya tenés cuenta?</span>
                            <a href="/login"><span class="login__signup" id="sign-in">Ingresar</span></a>
                        </div>
                        </form>
                </div> 
            </div>        
        </div>
        <!--Footer-->
        <%- include('../partials/footer') %>
    </main>
    

    <script src="/js/main.js"></script>
</body>
</html>