<header>
    <h2>
        <label for="nav-toggle">
            <span class="las la-bars"></span>
        </label>
        Dashboard
    </h2>

    <div class="search-wrapper">
        <span class="las la-search"></span>
        <input type="search" placeholder="Buscar">
    </div>

    <div class="user-wrapper">
        <img src="/img/logo.png" width="60px" alt="">
        <div>
            <h4>Maximiliano</h4>
            <small>Admin</small>
        </div>
    </div>
</header>