<div class="sidebar">
    <div class="sidebar-brand">
        <h4><span class="la-merex"></span>Merex</h4>
    </div>


    <div class="sidebar-menu">
        <ul>
            <li>
                <a href="/dashboard" class="active"><span class="las la-igloo"></span> <span> Dashboard</span></a>
            </li>
            <li>
                <a href=""><span class="las la-users"></span> <span> Clientes</span></a>
            </li>
            <li>
                <a href=""><span class="las la-shopping-bag"></span> <span> Pedidos</span></a>
            </li>
            <li>
                <a href="/dashboard/product-list"><span class="las la-clipboard-list"></span> <span> Productos</span></a>
            </li>
            <li>
                <a href="/dashboard/stock"><span class="las la-box"></span> <span> Stock</span></a>
            </li>
        </ul>
    </div>
</div>